<form #form="ngForm">

  <!-- Personal Information -->
  <div id='PersonalInfo'>
    <div class='Name'>
      <label>First Name: </label>
      <input type='text' name='firstName' [(ngModel)]='model.firstName'>
    </div>
    <div class='Name'>
      <label>Last Name: </label>
      <input type='text' name='lastName' [(ngModel)]='model.lastName'>
    </div>
    <div class='Email'>
      <label>Email:</label>
      <input type='email' id='usermail' name='userMail' [(ngModel)]='model.userEmail'>
    </div>
    <div class='ContactNo'>
      <label>Contact Number:</label>
      <input type='tel' id='usertelephone' name='userTelephone' [(ngModel)]='model.userContact'>
    </div>
    <div class='Address'>
      <label>Address:</label>
      <textarea rows='2' cols='21' id='useraddress' name='userAddress' [(ngModel)]='model.userAddress'></textarea>
    </div>
  </div>

  <!-- Login Credentials -->
  <div id='credentials'>
    <div class='Loginusername'>
      <label>Username:</label>
      <input type='text' id='username' name='userName' [(ngModel)]='model.userName'>
    </div>
    <div class='Loginpassword'>
      <label>Password:</label>
      <input type='password' id='userpassword' name='userPassword' [(ngModel)]='model.userPassword'>
    </div>
  </div>

  <!-- Gender Information -->
  <div id='genderinfo'>
    <label>Gender:</label>
    <div class='Male'>
      <input type='radio' id='male' name='gender' value='male' [(ngModel)]='model.userGender'>Male
    </div>
    <div class='Female'>
      <input type='radio' id='female' name='gender' value='female' [(ngModel)]='model.userGender'>Female
    </div>
  </div>

  <!-- Educational Information -->
  <div id='educationalinfo'>
    <div class='Qualification'>
      <label>Qualification:</label>
      <select id='qualificationid' style='width:120px' name='userQualification' [(ngModel)]='model.userQualification'>
        <option label="--Select--" selected disabled hidden>
        <option *ngFor='let qualification of userQualification'>
          {{ qualification }}
      </select>
    </div>
  </div>

  <div class='Experience'>
    <label>Experience:</label>
    <select id='experienceid' style='width:100px'  name='userExperience' [(ngModel)]='model.userExperience'>
      <option label="--Select--" selected disabled hidden>
      <option *ngFor='let experience of userExperience'>
        {{ experience }}
    </select>
  </div>

  <div class='CodingLanguages'>
    <label>Coding Languages:</label>
    <div *ngFor='let lang of coding'>
      <input type='checkbox' (click)='languageCheck(lang.langName, $event)' />
      {{ lang.langName }}
    </div>
  </div>

  <button type='submit' value='Submit' (click)='getDetails()'> Submit </button>
</form>

<br>
{{ model | json }}